@media screen and (min-width:768px){
    header {
        width: 960;
        height: 100px;
    line-height: 100px;

    }

    aside {
        width: 200px;
        height: 600px;
    line-height: 600px;

        float: left;
    }
    #c-d {
        position: relative;
        height: 200px;
    }
    #e-h {
        position: relative;
    }
        
    footer{
        width: 760px;
        height: 150px;
    line-height: 150px;

        float: right;
    }
}

@media screen and (min-width:480px) and (max-width:767px){
    body {
        width: 480px;
    }
    header {
        width: 480px;
        height: 75px;
    line-height: 75px;

        margin: auto;
    }
    aside {
        width: 480px;
        height: 150px;
    line-height: 150px;

    }

    footer {
        width: 480px;
        height: 80px;
    line-height: 80px;

        float: right;
    }
}