@media screen and (min-width:768px){
    header {
        width: 960;
        height: 100px;
    line-height: 100px;

    }

    aside {
        width: 200px;
        height: 600px;
    line-height: 600px;

        float: left;
    }
    
    #c-d div{
        width: 380px;
        height: 200px;
    line-height: 200px;

        margin: 0;
        display: inline-block;

    }
    
    #e-h div:last-child{
        position: absolute;}


    #e-h div{
        width: 190px;
        height: 250px;
    line-height: 250px;

        display: inline-block;
        margin: 0;
        text-align: center;
    }
    footer{
        width: 760px;
        height: 150px;
    line-height: 150px;

        float: right;
    }
}

@media screen and (min-width:480px) and (max-width:767px){
    body {
        width: 480px;
    }
    header {
        width: 480px;
        height: 75px;
    line-height: 75px;

        margin: auto;
    }
    aside {
        width: 480px;
        height: 150px;
    line-height: 150px;

    }

    #c-d div{
        width: 480px;
        height: 125px;
    line-height: 125px;

    }
    
    #e-h div{
        width: 240px;
        height: 250px;
    line-height: 250px;

        float: left;
    }
   
    footer {
        width: 480px;
        height: 80px;
    line-height: 80px;

        float: right;
    }
}