/* desktop */
@media (min-width: 960px) {
#c-d div:first-child{
    background-color: rgb(8, 138, 143);
    border: 1px solid black;
    border-right: none;
    border-left: none;

    border-bottom: none;
    box-sizing: border-box;  
}
#e-h div:first-child{
    background-color: rgb(221, 125, 165);
    border: 1px solid black;
    border-right: none;
    box-sizing: border-box;  
    border-left: none;

}
#e-h div:nth-child(2){
    background-color: rgb(253, 165, 202);
    border: 1px solid black;
    border-right: none;
    box-sizing: border-box;  
}
#e-h div:nth-child(3){
    background-color: rgb(206, 13, 93);
    border: 1px solid black;
    border-right: none;
    box-sizing: border-box;  
}
}
/* tablate */
@media (min-width: 767px) and (max-width: 960px) {
    #c-d div:first-child{
        background-color: rgb(19, 217, 243); 
        border: 1px solid black;
        border-right: none;    
        border-bottom: none;
        box-sizing: border-box;  
    }
    #e-h div:first-child{
        background-color: rgb(250, 237, 54);
        border: 1px solid black;
        border-right: none;
        border-bottom: none;
        box-sizing: border-box;  
          
    }
    #e-h div:nth-child(2){
        background-color: rgb(255, 200, 44);
        border: 1px solid black;
        border-bottom: none;
        box-sizing: border-box;

    }
    #e-h div:nth-child(3){
        background-color: rgb(224, 243, 56);
        border: 1px solid black;
        border-right: none;
        border-bottom: none;
        box-sizing: border-box;  
    }
}
/* mobile */
@media (max-width: 767px) {
    #c-d div:first-child{
        background-color: rgb(12, 180, 26); 
    }
    #e-h div:first-child{
        background-color: rgb(109, 49, 121);
        border: 1px solid black;
        border-right: none;
        border-bottom: none;
        box-sizing: border-box;  
          
    }
    #e-h div:nth-child(2){
        background-color: rgb(168, 7, 74);
        border: 1px solid black;
        border-bottom: none;
        box-sizing: border-box;

    }
    #e-h div:nth-child(3){
        background-color: rgb(248, 7, 236);
        border: 1px solid black;
        border-right: none;
        border-bottom: none;
        box-sizing: border-box;  
    }
}